[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "===3.0.8"
django-cors-headers = "*"
djangorestframework = "*"
pylint = "*"
autopep8 = "*"
pylint-django = "*"
pandas = "==1.2.5"
python-decouple = "*"
psycopg2 = "==2.8.6"

[dev-packages]

[requires]
python_version = "3.9"
